/** {
	box-sizing: border-box;
	text-align: center;
}

h1 {
	font-size: 115px;
	font-family: 'Playfair Display', serif;
	margin: 0;
	margin-top: 75px;
	padding: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #FDECEF;
	color: #2E2E2E;
	margin: 0;
	overflow-x: hidden;
}

.nav {
	background-color: #D8A7B1;
	color: #2E2E2E;
	display: flex;
	justify-content: space-between;
	align-items: left;
	gap: 2rem;
	padding: 0 1rem;
}

.nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: 1rem;
}

.nav a {
	color: inherit;
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	padding: .25rem;
}

.aboutParagraph {
	margin: auto;
	margin-top: 20px;
	padding: 30px;
	text-align: center;
	width: 50%;
	background-color: #D8A7B1;
}

.projectCard {
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px 5px;
	padding: 20px;
	margin: 10px;
	text-align: center;
	height: 100%; 
	max-width: 250px;
	display: inline-block;
	background-color: #D8A7B1;
}

.projectButton {
	display: inline-block;
	background-color: #FDECEF;
	color: #2E2E2E;
	padding: 10px 16px;
	border: 1px solid;
	border-radius: 8px;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

.experienceCard {
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px 5px;
	padding: 20px;
	margin: 10px auto;
	text-align: center;
	width: 100%; 
	max-width: 600px;
	display: block;
	background-color: #D8A7B1;
}

.projectLanguages {
	font-style: italic;
}*/

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');